# Hooks
#function ezbench_pre_hook() {

#}
#function ezbench_post_hook() {

#}

#function compile_pre_hook() {
    # Accessible variables
    # $commit     [RO]: SHA1 id of the current commit
    # $commitName [RO]: Name of the commit
#}
#function compile_post_hook() {
    # Accessible variables
    # $commit     [RO]: SHA1 id of the current commit
    # $commitName [RO]: Name of the commit
#}

#function <benchmark name>_run_pre_hook() {
    # Accessible variables
    # $benchName  [RO]: Name of the benchmark
    # $commit     [RO]: SHA1 id of the current commit
    # $commitName [RO]: Name of the commit
#}
#function <benchmark name>_run_post_hook() {
    # Accessible variables
    # $benchName  [RO]: Name of the benchmark
    # $commit     [RO]: SHA1 id of the current commit
    # $commitName [RO]: Name of the commit
    # $fpsTest    [RW]: List of FPS values returned by the test
#}

# Libraries options
LIBFRAMETIME64_SO=/usr/lib/libframetime.so
LIBFRAMETIME32_SO=/usr/lib32/libframetime.so

# Benchmark parameters
SYNMARK_FOLDER=/opt/SynMark2

# UE4 Reflections Subway
UE4_REFLECTIONS_FOLDER="/opt/Reflections Subway Demo/ReflectionsSubway/Binaries/Linux"
UE4_ATLANTIS_FOLDER="/opt/Atlantis/Atlantis/Binaries/Linux"
UE4_WINDOW_SIZE_X=128
UE4_WINDOW_SIZE_Y=80

# Unigine settings
UNIGINE_HEAVEN_FOLDER=/opt/benchmarks/Unigine_Heaven-4.0
UNIGINE_VALLEY_FOLDER=/opt/benchmarks/Unigine_Valley-1.0

# Citybench settings
CITYBENCH_FOLDER=/opt/replay_hbas_citybench

# GLBenchmark settings
GLBENCHMARK27_FOLDER=/opt/benchmarks/glbenchmark2.7.0
#GLBENCHMARK27_WIDTH=1920
#GLBENCHMARK27_HEIGHT=1080

# intel-gpu-tools settings
IGT_BENCHMARKS=/opt/intel-gpu-tools/benchmarks
IGT_TRACES=/opt/intel-gpu-tools/traces

# cairo-demos settings
CAIRO_DEMOS=/opt/benchmarks/cairo-demos

# xf86-video-intel setting
XF86_VIDEO_INTEL=/opt/benchmarks/xf86-video-intel
