# WARNING: Hooks should be put in the profiles, not in this file

# SHA1 Database that contains the version of each library, based on their SHA1
SHA1_DB=$ezBenchDir/SHA1_DB

# Frequencies
#WANTED_CPU_FREQ_kHZ=2000000

# Repo addresses
REPO_MESA=/opt/source/mesa
REPO_LINUX=/opt/source/linux
REPO_PERF_BISECT='/opt/source/bisect-test' # git://people.freedesktop.org/~mperes/bisect-test

# Repo compilation parameters
REPO_MESA_PARAMETERS="--prefix=\$REPO_MESA_PREFIX \
    --with-dri-driverdir=\$REPO_MESA_PREFIX/lib/dri \
    --with-gallium-drivers=r300,r600,radeonsi,nouveau,svga,swrast \
    --with-dri-drivers=i915,i965,r200,radeon,nouveau,swrast \
    --with-egl-platforms=x11,drm,wayland \
    --with-sha1=libgcrypt \
    --enable-llvm-shared-libs \
    --enable-egl \
    --enable-gbm \
    --enable-gallium-llvm \
    --enable-shared-glapi \
    --enable-glx \
    --enable-glx-tls \
    --enable-dri \
    --enable-osmesa \
    --enable-gles1 \
    --enable-gles2 \
    --enable-texture-float \
    --enable-xa \
    --enable-vdpau \
    --enable-omx \
    --enable-nine \
    --enable-opencl --enable-opencl-icd \
    --with-clang-libdir=/usr/lib"
REPO_LINUX_CONFIG=/path/to/linux/.config

# folder that will receive the different builds
DEPLOY_BASE_DIR=$ezBenchDir/builds

# Libraries options
LIBFRAMETIME64_SO=/usr/lib/libframetime.so
LIBFRAMETIME32_SO=/usr/lib32/libframetime.so

# Benchmark parameters
SYNMARK_FOLDER=/opt/benchmarks/SynMark2

# UE4 parameters
UE4_FOLDER="/opt/benchmarks/Unreal Engine 4"
UE4_WINDOW_SIZE_X=128
UE4_WINDOW_SIZE_Y=80

# Unigine settings
UNIGINE_HEAVEN_FOLDER=/opt/benchmarks/unigine-heaven-4.0
UNIGINE_VALLEY_FOLDER=/opt/benchmarks/unigine-valley-1.0

# GpuTest settings
GPUTEST_FOLDER=/opt/benchmarks/GpuTest_Linux_x64_0.7.0

# Lightsmark settings
LIGHTSMARK_FOLDER=/opt/benchmarks/lightsmark-1.2.0/Lightsmark2008.2.0

# Citybench settings
CITYBENCH_FOLDER=/opt/replay_hbas_citybench

# GLBenchmark settings
GLBENCHMARK27_FOLDER=/opt/benchmarks/glbenchmark2.7.0/
#GLBENCHMARK27_WIDTH=1920
#GLBENCHMARK27_HEIGHT=1080
GLBENCHMARK30_FOLDER=/opt/benchmarks/gfxbench3_desktop/
#GLBENCHMARK30_WIDTH=1920
#GLBENCHMARK30_HEIGHT=1080

# LuxMark settings
LUXMARK_FOLDER=/opt/benchmarks/luxmark-v3.0

# PolyBench-ACC settings
# https://github.com/cavazos-lab/PolyBench-ACC
POLYBENCH_ACC_FOLDER=/opt/benchmarks/PolyBench-ACC

# FinanceBench settings
# https://github.com/cavazos-lab/FinanceBench
FINANCEBENCH_FOLDER=/opt/benchmarks/FinanceBench

# intel-gpu-tools settings
IGT_BENCHMARKS=/opt/intel-gpu-tools/benchmarks
IGT_TRACES=/opt/intel-gpu-tools/traces

# cairo-demos settings
CAIRO_DEMOS=/opt/benchmarks/cairo-demos

# xf86-video-intel setting
XF86_VIDEO_INTEL=/opt/benchmarks/xf86-video-intel

# Xonotic
XONOTIC_FOLDER=/usr/bin
