function run_bench_pre_hook() {
    # Accessible variables
    # $bench_binary [RO]: name of the binary of the game/benchmark
    # $cmd          [RO]: complete command line of the benchmark to be run
    # $run_log_file [RO]: path to the log file of the run

    run_log_file_metrics="$run_log_file.metrics"
    pid=$(stdbuf -oL sudo $ezBenchDir/profiles.d/utils/_launch_background.sh $ezBenchDir/utils/custom_metrics_collector.py $bench_binary 2> $run_log_file_metrics)
    export EZBENCH_METRICS_COLLECTOR_PID=$pid
}

function run_bench_post_hook() {
    sudo kill $EZBENCH_METRICS_COLLECTOR_PID
    unset EZBENCH_METRICS_COLLECTOR_PID
}
